<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <title>ADMIN PAGE</title>
</head>
<body>
<h1>Member List</h1>


<table>
    <thead>
    <tr>

        <td>회원번호</td>
        <td>성명</td>
        <td>아이디</td>
        <td>전화번호</td>
        <td>주소</td>
        <td>등록날짜</td>
        <td>생일</td>
    </tr>
    </thead>


    <tbody>

    <tr>
        <td th:text="${member.m_no}">회원번호</td>
        <td th:text="${member.m_name}">성명</td>
        <td th:text="${member.m_id}">아이디</td>
        <td th:text="${member.m_phone}">전화번호</td>
        <td th:text="${member.m_address}">주소</td>
        <td th:text="${member.m_regdate}">등록날짜</td>
        <td th:text="${member.m_birth}">생일</td>
    </tr>

    </tbody>
</table>
<script>
    var selectMember = function() {

    }
</script>
</body>
</html>