<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:href="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>ADMIN PAGE</title>
    <!-- Bootstrap core CSS -->
    <!-- <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/static/css/agency.min.css" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/member/member_chk">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1>Member List</h1>

<section class="page-section" id="services">
    <select id = "search-select">
        <option th:value="m_no">회원번호</option>
        <option th:value="m_name">회원 성명</option>
        <option th:value="m_phone">전화번호</option>
    </select>

    <input type="text" id="search" />

    <input type="button" value="검색" onclick="searchMember();" />

    <table>
        <thead>
        <tr>

            <td>회원번호</td>
            <td>성명</td>
            <td>아이디</td>
        </tr>
        </thead>


        <tbody id = "table">

        <tr th:each="member: ${memberList}" onclick="selectMember(this);" th:attr="data-m_no=${member.m_no}">
            <td><span th:text="${member.m_no}"></span></td>
            <td><span th:text="${member.m_name}"></span></a></td>
            <td><span th:text="${member.m_id}"></span></a></td>
        </tr>

        </tbody>
    </table>
    <div id = "memberModal" style="display: none" class = "w3-modal">
        <div class="w3-modal-content w3-animate-opacity w3-card-4">
            <header class="w3-container w3-teal">
        <span onclick="document.getElementById('memberModal').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
                <h2>상세 회원 정보</h2>
            </header>
            <table>
                <thead>
                <tr>

                    <td>회원번호</td>
                    <td>성명</td>
                    <td>아이디</td>
                    <td>전화번호</td>
                    <td>주소</td>
                    <td>등록날짜</td>
                </tr>
                </thead>


                <tbody id = "modal-table">



                </tbody>
            </table>
        </div>
    </div>
</section>


<script type="text/javascript" th:inline="javascript">

    var selectMember = function(obj){
        var modal = document.getElementById("memberModal");
        var m_no = $(obj).data('m_no');
        if(m_no == undefined){
            var m_no = obj.data.m_no;
        }

        console.log(m_no);

        $.ajax({
            url: '/admin/member/'+m_no,
            type: 'get',
            data: {
                // data1:'abcd', data2:'bdee' // for test
            },
            dataType: 'json',
            success : function(data) {
                // 성공 시 동작
                console.log('성공');
                console.log(data);
                $("#modal-table").empty();
                $("#modal-table").append('<td>' + data.m_no + '</td>');
                $("#modal-table").append('<td>' + data.m_name + '</td>');
                $("#modal-table").append('<td>' + data.m_id + '</td>');
                $("#modal-table").append('<td>' + data.m_phone + '</td>');
                $("#modal-table").append('<td>' + data.m_address + '</td>');
                $("#modal-table").append('<td>' + data.m_regdate + '</td>');

                modal.style.display = "block";

            },
            error: function(error) {
                // 실패 시 동작
                console.error('실패');
                console.error(error);
            },
            complete: function(response) {
                // 성공하든 실패하든 항상 할 동작
                console.log('수행 요청이 완료되었습니다.');
            }
        });
    };

    var searchMember = function(){

        var option = $.trim(($("#search-select option:selected").val()));
        var keyword = $.trim($("#search").val());
        console.log(option);
        location.href = '/admin/member/'+option + '/' + keyword;
    };


</script>
</body>
</html>